.country_css {
    border: 2px solid peru;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: whitesmoke;
}

.visited_btn {
    background-color: burlywood;
    color: black;
}

.not_visited_btn {
    background-color: black;
    color: white;
}